body{
    background-color:#f2f2f2; /*very light grey*/
    color:#000000;
    font-family: Tahoma, Geneva, sans-serif;
    font: size 16px;
    font-weight: normal;
    
    line-height: 1.8em;
    margin:0;
}

h2{
    color:black;
    font-size: 25px;    
    font-weight: 500;
    color-adjust:initial;
}

a{
    text-decoration: none;  
}
.container{
    width: 80%;
    /* using % instead of 500px or 960px, the sizing is responsive to changing window sizing. */
    margin:auto;
}
.box-1{
    text-align: center;
    background-color: darkslategray;
    color: floralwhite;

    border: 5px black solid;
    border-width: 3 px;
    border-bottom-width: 10px;
    padding: 20px;
}
.box-2{
    text-align: center;

    /*border:3px dotted #ccc;*/
    padding:20px;
    margin: 20px 0;
}
/*.box-2 h2{
    font-size: 18px;
    font-weight: 500;
}*/
.definitions{
    border: 1px dimgray dotted;
    border-radius: 15px;
    
}
.commands li{
    line-height: 30em;
    /*padding-top: 3000px;
    margin-top: 3000px;*/
}
.details li::marker{
    color: grey;
    font-size: 1em;
}
.details li{
    line-height: 1.4em;
   /*margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   border-top-width: 0px;
   border-bottom-width: 0px;*/
}
.details li:nth-child(4){
    margin-left: 30px;
}
.details li:nth-child(5){
    margin-left: 30px;
}
.details li:nth-child(6){
    margin-left: 30px;
}
.details li:nth-child(7){
    margin-left: 30px;
}

